<div [id]="section.id" [ngClass]="viewClasses" [bg]="section.bg">
  <div [ngClass]="sectionClasses" class="row">
    <h2 *ngIf="section.pattern!=='Swiper'">{{section.title}}</h2>
    <dynamic-html [content]="section.template"></dynamic-html>
    <div *ngIf="panels" [ngSwitch]="section.pattern">
      <luck-swiper-section [panels]="panels" [pattern]="sectionPattern" *ngSwitchCase="'Swiper'"></luck-swiper-section>
      <luck-masonry-section [panels]="panels" [pattern]="sectionPattern" *ngSwitchCase="'Masonry'"></luck-masonry-section>
      <luck-plain-section [panels]="panels" [pattern]="sectionPattern" *ngSwitchCase="'Plain'"></luck-plain-section>
      <p *ngSwitchDefault>ERR:{{section.pattern}}</p>
    </div>
  </div>
</div>